.backgroundAll{
    color: #f8fff4
}

.adjust{
    color: #f8fff4;
    background-color: #0E0004;
}



header{
    background-color: #0e0004;
    color: #f8fff4
}


.button:hover{
    background-color:#71677C ;
}

.button{
    background-color: #da0011;
    font-weight: bold;
    color: #f8fff4;
}

.extraPadding{
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    background-color: #f8fff4;
}

.contactPadding{
    padding-top: 10%;
    padding-left: 20%;
    background-color: #f8fff4;
    /* padding-bottom: 50%; */
}

.contactCard{
    background-color: #f8fff4;
    color:#0E0004;
}

li{
    background-color: #f8fff4;
    color: #0E0004
}

.footerLink{
color: #f8fff4;
font-weight: lighter;
}

.footerLink:hover{
    color:#da0011;
    font-weight: bolder;
}

.imageResize{
    width: 75%;
}

.resumePadding{
    padding-top: 8%;
    padding-bottom: 3.5%;
    background-color: #f8fff4;
}

.resumePaddingTwo{
    padding-top: 5%;
    background-color: #f8fff4;
}